{%extends 'admins/adminbase.html'%}
{%load static%}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{%block contents%}
<section class="about">
    <div class="container">
        <div class="contact-details">
            <div class="section-header contact-head  text-center">
                <h2>View Register Users and activate</h2>
                <p>
                <table class="table table-bordered bg-light text-white">
                    <thead>
                    <tr style="color:teal">
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Login ID</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Locality</th>
                        <th>Status</th>
                        <th>Activate</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                    <tr style="color: black">
                        <td>{{forloop.counter}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.loginid}}</td>
                        <td>{{i.mobile}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.locality}}</td>
                        <td>{{i.status}}</td>

                        {% if i.status == 'waiting' %}
                        <td><a class="btn-link" href="/AdminActivaUsers/?uid={{ i.id }}"
                               style="color:DARKBLUE">Activate</a></td>
                        {% else %}
                        <td> Activated</td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

                </p>
            </div><!--/.section-header-->

        </div><!--/.contact-details-->
    </div><!--/.container-->

</section><!--/.contact-->
{%endblock%}